---
import Layout from "../layouts/Layout.astro";
import EquipmentGrid from "../components/equipment/equipment-grid";
---

<Layout title="DMC ingeniería eléctrica, equipos fotovoltaicos">
  <section>
    <a class="underline" href="/">Volver</a>
    <div class="flex justify-between items-end text-xl font-semibold">
      <h2>Venta de equipos fotovoltaicos</h2>
    </div>
    <p class="text-balance mb-4">
      Además de proyectos eléctricos, ofrecemos la venta de equipos
      fotovoltaicos y soluciones de iluminación solar.
    </p>
    <EquipmentGrid
      className="grid sm:grid-cols-2 md:grid-cols-3 gap-4"
      client:load
    />
  </section>
</Layout>
