---
import Showcase from "../components/Showcase";
import Layout from "../layouts/Layout.astro";
import EquipmentCard from "../components/EquipmentCard";
import { solar_equipment, best_images } from "../vars";
import ShoppingBagMini from "../components/icons/ShoppingBagMini";
---

<Layout title="DMC ingeniería eléctrica">
  <section class="grid gap-4">
    <div class="flex items-center flex-col">
      <h2 class="text-xl text-center text-balance">
        Instalaciones eléctricas y energía solar.
      </h2>
      <p class="max-w-xl text-balance text-center text-slate-500">
        Somos una empresa especializada en proyectos de baja tensión, abarcando
        instalaciones domiciliarias, montaje industrial, locales comerciales y
        alumbrado público en plazas y parques.
      </p>
    </div>
    <Showcase client:idle images={best_images} classImage="md:max-h-[30rem]" />
  </section>
  <section>
    <div class="flex justify-between items-center">
      <h3>Venta de equipos fotovoltaicos</h3>
      <a
        class="bg-slate-200 font-sans justify-center text-black rounded-md hover:opacity-75 duration-200 text-center text-sm py-1.5 px-4 border border-slate-300 flex gap-1 items-center grow-0"
        href="/catalog"
      >
        <ShoppingBagMini />
        <span class="hidden md:inline">Ver todo el catalogo</span>
        <span class="inline md:hidden">Catalogo</span>
      </a>
    </div>
    <p class="md:text-balance text-slate-500 mb-4">
      Además de proyectos eléctricos, ofrecemos la venta de equipos
      fotovoltaicos y soluciones de iluminación solar.
    </p>
    <div class="flex gap-4 overflow-x-auto">
      {
        solar_equipment.map((equipment) => (
          <EquipmentCard
            client:idle
            src={equipment.src}
            product={equipment.product}
            className="w-60"
          />
        ))
      }
    </div>
  </section>
  <section class="space-y-10">
    <article class="grid md:grid-cols-2 gap-4">
      <div class="self-center">
        <p>Nuestros servicios</p>
        <p class="text-slate-500 text-balance">
          Realizamos proyectos eléctricos residenciales, industriales y
          comerciales, así como también en el área de energía renovable,
          abarcando proyectos fotovoltaicos para viviendas, sistemas de riego,
          configuraciones Ongrid, Offgrid e híbridas.
        </p>
      </div>
      <Showcase
        client:idle
        description="Tecnobox, Mall Outlet, Happy Days Waffles, entre otros."
        images={[
          {
            src: "/assets/flores_outletmall_installation.jpg",
            alt: "Instalacion flores outlet mall",
          },
          {
            src: "/assets/happydayswafles_1.jpg",
            alt: "Primera trabajo en Happy Days Wafles",
          },
          {
            src: "/assets/tecnobox_1.jpg",
            alt: "Tecnobox 1",
          },
          {
            src: "/assets/tecnobox_2.jpg",
            alt: "Tecnobox 2",
          },
          {
            src: "/assets/happydayswafles_2.jpg",
            alt: "Primera trabajo en Happy Days Wafles",
          },
          {
            src: "/assets/happydayswafles_3.jpg",
            alt: "Segundo trabajo en Happy Days Wafles",
          },
          {
            src: "/assets/otros_1.jpg",
            alt: "Otras instalaciones electricas",
          },
          {
            src: "/assets/otros_2.jpg",
            alt: "Otros trabajos electricos",
          },
          {
            src: "/assets/otros_3.jpg",
            alt: "Otras instalaciones",
          },
        ]}
      />
    </article>
    <article class="grid md:grid-cols-2 gap-4">
      <Showcase
        client:idle
        description="Valdivia, Los Ríos"
        images={[
          {
            src: "/assets/solar_valdivia_roof1.jpg",
            alt: "Techo de la casa en Valdivia",
          },
          {
            src: "/assets/solar_valdivia_installation2.jpg",
            alt: "Instalacion en la region de Los Ríos",
          },
          {
            src: "/assets/solar_valdivia_roof2.jpg",
            alt: "Techo en la region de Los Ríos, Chile",
          },
          {
            src: "/assets/solar_valdivia_control1.jpg",
            alt: "Otro tipo de instalaciones solares en Valdivia, Los Ríos, Chile",
          },
          {
            src: "/assets/solar_valdivia_roof3.jpg",
            alt: "Otro tipo de instalaciones solares en Valdivia, Los Ríos, Chile",
          },
          {
            src: "/assets/solar_valdivia_installation1.jpg",
            alt: "Otro tipo de instalaciones solares en Valdivia, Los Ríos, Chile",
          },
          {
            src: "/assets/solar_valdivia_roof4.jpg",
            alt: "Otro tipo de instalaciones solares en Valdivia, Los Ríos, Chile",
          },
        ]}
        classRoot="order-2 md:order-none"
      />
      <div class="self-center">
        <h5>Proyectos ongrid</h5>
        <p class="text-slate-500 text-balance">
          Experimenta la potencia de la conexión directa a la red eléctrica con
          nuestros proyectos on-grid. Optimiza tu consumo energético y reduce
          costos al aprovechar la energía proveniente de la red pública.
          Descubre cómo podemos hacer tu transición energética más eficiente y
          sostenible.
        </p>
      </div>
    </article>
    <article class="grid md:grid-cols-2 gap-4">
      <div class="self-center">
        <h5>Proyectos offgrid</h5>
        <p class="text-slate-500 text-balance">
          Libertad energética donde sea que vayas con nuestros proyectos
          off-grid. Convierte áreas remotas en fuentes de energía independientes
          y sostenibles. Ya sea para una cabaña en la montaña o una comunidad
          lejos de la red, nuestros sistemas te mantienen conectado sin importar
          dónde estés.
        </p>
      </div>
      <Showcase
        client:idle
        description="Temuco, La Araucanía"
        images={[
          {
            src: "./assets/serviu_temuco_roof1.JPG",
            alt: "Serviu Temuco techo",
          },
          {
            src: "./assets/serviu_temuco_roof2.JPG",
            alt: "Serviu Temuco techo 2",
          },
          {
            src: "./assets/serviu_temuco_roof3.jpg",
            alt: "Serviu Temuco techo 3",
          },
          {
            src: "/assets/solar_temuco_roof1.jpg",
            alt: "Panel solar techo Temuco, La Araucanía, Chile",
          },
          {
            src: "/assets/solar_temuco_roof2.jpg",
            alt: "Panel 2 solar techo Temuco, La Araucanía, Chile",
          },
          {
            src: "/assets/solar_temuco_roof3.jpg",
            alt: "Panel 3 solar techo Temuco, La Araucanía, Chile",
          },
          {
            src: "/assets/solar_temuco_controls1.jpg",
            alt: "Control panel solar techo Temuco, La Araucanía, Chile",
          },
        ]}
      />
    </article>
    <article class="grid md:grid-cols-2 gap-4">
      <Showcase
        client:idle
        description="Instalaciones en viviendas y privadas."
        images={[
          {
            src: "/assets/privado_solar_roof1.jpg",
            alt: "Panel solar privado",
          },
          {
            src: "/assets/privado_solar_roof2.jpg",
            alt: "Panel solar techo",
          },
          {
            src: "/assets/viviendas_controls.jpg",
            alt: "Controles electricos viviendas",
          },
          {
            src: "/assets/viviendas_ground1.jpg",
            alt: "Instalaciones nivel suelo",
          },
          {
            src: "/assets/viviendas_ground2.jpg",
            alt: "Instalaciones nivel suelo a domicilio",
          },
          {
            src: "/assets/privado_solar_controls.jpg",
            alt: "Controles paneles solares",
          },

          {
            src: "/assets/viviendas_installation.jpg",
            alt: "Instalaciones electricas viviendas",
          },
        ]}
        classRoot="order-2 md:order-none"
      />
      <div class="self-center">
        <h5>Proyectos hibridos</h5>
        <p class="text-slate-500 text-balance">
          Combina lo mejor de ambos mundos con nuestros proyectos eléctricos
          híbridos. Integra fuentes de energía renovable con respaldo de la red
          para una solución completa y adaptable a tus necesidades. Maximiza la
          eficiencia y la confiabilidad con sistemas que se ajustan a cualquier
          entorno, ya sea rural o urbano.
        </p>
      </div>
    </article>
  </section>
</Layout>
